<div class="header">
  <div class="header-items">
    <p class="{{unless (eq currentStep 0) "current" ""}}">User</p>
    <p> > </p> 
    <p class="{{unless (eq currentStep 1) "current" ""}}">Pet</p>
    <p> > </p>
    <p class="{{unless (eq currentStep 2) "current" ""}}">Payment</p>
  </div>

  <p> ------------------------------- </p>
</div>