@import "pod-styles";

@font-face {
  font-family: 'Evolette-Normal';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/TJEvoletteABasic-Normal.woff') format('woff');
}

body {
  font-family: 'Evolette-Normal';
  font-size: 15px;
}
