<div class="menu">
  {{#if session.isAuthenticated}}
    <button onclick={{action "invalidateSession"}}>Logout</button>
  {{else}}
    {{#link-to 'login'}}Login{{/link-to}}
  {{/if}}
</div>
<div class="main">
  {{outlet}}
</div>