<div class="input-fields">
  {{input type="text" value=(mut (get newAnimal "name"))  placeholder="Name"}}
  {{input type="text" value=(mut (get newAnimal "age")) placeholder="Age"}}
  {{input type="text" value=(mut (get newAnimal "species")) placeholder="Type"}}
</div>
