<div class="input-fields">
  {{input type="text" value=(mut (get animal "name"))  placeholder="Name"}}
  {{input type="text" value=(mut (get animal "age")) placeholder="Age"}}
  {{input type="text" value=(mut (get animal "species")) placeholder="Type"}}
</div>
