<div class="input-fields">
  {{input type="text" value=(mut (get newUser "name"))  placeholder="Name"}}
  {{input type="text" value=(mut (get newUser "email")) placeholder="Email"}}
  {{input type="text" value=(mut (get newUser "password")) placeholder="Password"}}
  {{input type="text" value=(mut (get newUser "phone")) placeholder="Phone"}}
</div>
