<div class="input-fields">
  {{input type="text" value=(mut (get user "name"))  placeholder="Name"}}
  {{input type="text" value=(mut (get user "email")) placeholder="Email"}}
  {{input type="text" value=(mut (get user "password")) placeholder="Password"}}
  {{input type="text" value=(mut (get user "phone")) placeholder="Phone"}}
</div>
